* {
  font-family: Poppins, sans-serif;

}
/* nav start */
.startheader {
  position: fixed;
  z-index: #999;
  left: 0;
  right: 0;
  top: 0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 70px;
  border: 1px solid transparent;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar a {
  float: left;
  font-size: 13px;
  color: black;
  text-align: left;
  padding: 14px 16px;
  align-items: center;
  text-decoration: none;
  line-height: 19.5px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background: 0%;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 15px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  height: 30px;
  margin-left: -80px;
  position: static;
  font-family: poppins, sans-serif;
}
#main {
  margin: 0px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.explore a:hover {
  background-color: #ffb100;
}
.dropdown-content a {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.leftdiv {
  width: 30%;
  height: 100%;
  border: 1px solid transparent;
  display: flex;
}
.explore a {
  background-color: white;
}
.mid {
  width: 750px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  background-color: #f7f7f9;
  margin-top: 18px;
}
.rightdiv {
  width: 45%;
  height: 100%;
  border: 1px solid transparent;

  display: flex;
}
.rightdiv > div {
  margin-left: 5%;
  margin-top: 20px;
  margin-left: 20px;
}
#mobileapp {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background-color: #ffead5;
  margin-top: 15px;
  text-align: center;
  vertical-align: center;
  font-weight: 600;
}
a {
  color: #151515;
  font-size: 13px;
  white-space: nowrap;

  font-family: "Poppins", sans-serif;
  margin-right: 15px;
}
#country {
  margin-top: 26px;
}
.countryimg {
  height: 20px;
  width: 20px;
  display: inline-block;
}

#language {
  margin-top: 30px;
  font-size: 18px;
}
#language > img {
  height: 16px;
  width: 16px;
}
button > img {
  height: 16px;
  width: 16px;
  margin-top: 2px;
}
#accountoptions {
  margin: 0px;
}
#cart {
  margin-top: 13px;
  margin-left: 0px;
}
i {
  margin: 0px;
  padding: 5px;
}
.dropdown-content > h6 {
  margin-top: 5px;
  /* margin-left: -60px; */
  font-size: 18px;
  margin: 0px;
  margin-left: -60px;
}
.ubuyimg {
  height: 75%;
  align-self: center;
  margin-left: 10px;
  padding-bottom: 10px;
}
.midlogin {
  background-image: url(https://www.ubuy.co.in/skin/frontend/default/ubuycom-v1/images/stay-connected.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: center;
  padding: 20px 0px;
  border-radius: 30px;
  background-size: cover;
  display: flex;
}
.stay-connected {
  margin-left: 250px;
  font-size: 30px;
  width: 30px;
  font-weight: bold;
  margin-top: 7px;
}
.couponsub {
  align-self: center;
  margin-left: 15%;
  width: 38%;
  border: 1px solid black;
  border-radius: 50px;
}
.couponsub > input {
  width: 70%;
  height: 53px;
  border-radius: 50px;
  outline: none;
  border: none;
}
.subscribe {
  width: 28%;
  height: 50px;
  border-radius: 50px;
  background-color: #ffb100;
  outline: none;
  border: none;
}
/* nav end */
#linktogoback{
  margin-top: 7%;
  display: flex;
}
#linktogoback>div:nth-child(1) > a {
  text-decoration: none;
  color: black;
}
#linktogoback>div:nth-child(1)::after {
  content: "/";
}
.maincont {
    /* height: 580px; */
    padding: 2%;
    margin: auto;
    width: 95%;
    display: flex;
    margin-bottom: 5%;
}

.leftimg {
    height: 100%;
    width: 45%;
}

.boximg {
    height: 68%;
    border-radius: 15px;
    width: 88%;
    margin-left: 6%;
    margin-top: 7%;
    /* border: 2px solid rgb(116, 14, 14); */
}
.social {
    height: 10%;
    width: 100%;
    justify-content: center;
    margin-top: 7%;
    display: flex;
}

.share {
    height: 100%;
    margin-top: 2%;
    width: 30%;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sicon {
    height: 80%;
    width: 18%;
    border-radius: 32px;
}

.midimg {
    height: 6%;
    width: 3%;
    margin: 0%;
}

.rightcont {
    height: 100%;
    width: 54%;
    margin-left: 3%;
}

.descrip {
  margin-top: 0%;
    /* height: 20%; */
    width: 100%;
    padding: 1%;
    /* border: 3px solid rgb(12, 197, 182); */
}
.brandname-tag {
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 23px;
  color: rgb(102,102,102);
}
.productname-tag {
  color: black;
  font-size: 20px;
  line-height: 30px;
  margin: 1% 0%;
  font-weight: bold;
}
.itemname-tag {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0%;
}
/* button setting need to be copy */
#addtocartdiv {
    /* background-color: gray; */
    width: 270px;
    margin-top: 1%;
    height: 50px;
    position: relative;
    display: flex;
    
  }
  #addtocartdiv>button {
    border-radius: 50px;
    background-color: floralwhite;
    border: none;
    height: 50px;
    margin-top: 5%;
  }
  #ddd {
    padding: 10px 14px 10px 14px;
    line-height: 30px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #btn0 {
    width: 80%;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    margin-left: -5%;
    padding: 10px 20px 10px 20px;
    /* border-bottom-left-radius: 36px; */
    margin-left: 40px;
    border-bottom-right-radius: 36px;
    border-top-right-radius: 36px;
    background-color: rgb(255,185,25);
    color: white;
  }
  /* bhavesh part */
  .imgfromdata {
    width: 100%;
    height: 100%;
  }
  /* button copy end here */
.item {
    margin-top: 0%;
    /* height: 3%; */
    width: 37%;
    padding: 0% 1%;
    font-size: 24px;
    /* border: 2px solid rgb(167, 204, 0); */
}
.item::before {
  content: "INR";
}
.itemforstart {
  margin-top: 2%;
  display: flex;
    height: 6%;
    line-height: 30px;
    padding: 1px 6px;
    width: 50%;
    /* border: 2px solid rgb(167, 204, 0); */

}
.itemforstart>span {
  margin-top: 2%;
}
.inputforwrite {
  width: 40%;
  margin-left: 4%;
  border: none;
  border-bottom: 1px solid gray;
}
.ratingforpro {
  margin-left: 3%;
  font-size: 16px;
}
.cont22 {
    margin-top: 1%;
    font-weight: bold;
    font-size: 12px;
    margin-left: 1%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(47,183,131);
}
.cont23 {
    display: flex;
    /* height: 55px; */
    width: 23%;
    padding: 1%;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.aval {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#instock {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(47,183,131);
}

.lastcont {
  margin-top: 2%;
  padding-bottom: 1%;
  /* height: 187px; */
  width: 100%;
  font-weight: bold;
  color: rgb(121, 119, 119);
  font-size: 12px;
  border-bottom: 1px solid rgb(181,181,181);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn1 {
    width: 62%;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    padding: 4%;
    margin-top: 3%;
    border-radius: 12px;
    background-color: rgb(243, 138, 0);
    color: rgb(253, 253, 250);
}
.nameof-the-product {
  font-size: 12px;
}
.labelqty {
    margin-top: 1%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quantity {
    width: 170px;
    height: 40px;
    border: 2px solid rgb(150, 149, 149);
    font-size: 20px;
    margin-top: 4%;
    margin-left: 3%;
}
.cont9 {
    width: 100%;
    font-size: 18px;
    padding: 1%;
    margin: auto;
    line-height: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(248,248,250);
    color: rgb(32, 30, 30);
}

.head5 {
    margin-left: 1%;
}

.boxcard {
    display: flex;
    height: 100px;
    width: 100%;
    /* border: 2px solid rgb(224, 224, 90); */
}




.boxwas {
    display: flex;
    width: 95%;
    margin-top: 3%;
    font-size: 17px;
}

.cusrating {
    height: 60%;
    width: 23%;
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(250, 250, 245);
}
.cusreview {
    padding: 2%;
    /* height: 92%; */
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* input {
    width: 45%;
    height: 15px;
    padding: 1%;
    font-size: 16px;
    border: 1px solid rgb(233, 232, 232);
    margin-top: 1.5%;
    margin-left: 1%;
} */

.ratehead {
    font-size: 20px;
    margin-bottom: 3%;
    font-weight: bold;
}

.revhead {
    font-size: 38px;
    margin-bottom: 3%;
    font-weight: bold;
}

.starbig {
    font-size: 15px;
    margin-bottom: 1%;
    color: rgb(129, 128, 128);
}
.side {
    font-size: 20px;
    margin-bottom: 2%;
}
.bar-container {
    width: 90%;
    height: 17px;
    background-color: #e7e6e6;
    text-align: center;
    color: white;
}

.middle {
    display: flex;
    justify-content: space-between;
}

.sideright {
    font-size: 16px;
    margin-left: 3%;
}

.bar-5 {
    width: 60%;
    height: 100%;
    background-color: #ff9800;
}

.bar-4 {
    width: 30%;
    height: 100%;
    background-color: #ff9800;
}

.bar-3 {
    width: 10%;
    height: 100%;
    background-color: #ff9800;
}

.bar-2 {
    width: 4%;
    height: 100%;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 100%;
    background-color: #ff9800;
}

.row {
    margin-bottom: 9%;
}

.checked {
    color: orange;
}
.reviewcont {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(198,200,202);
}

.revimg {
    height: 60%;
    margin-top: 3%;
    width: 20%;
    display: flex;
}
.imgbox {
    height: 100%;
    width: 35%;
}

.namebox {
    height: 40%;
    width: 33%;
    padding: 2%;
    font-size: 17px;
}
.revcont {
    height: 70%;
    width: 72%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.revcont>h2 {
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 0%;
}
.revcont>p {
    margin-top: 1%;
    font-size: 12px;
    margin-bottom: 0%;
}
.context{ 
    width: 100%;
    font-size: 16px;
    padding: 1%;
    line-height: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(248,248,250);
    color: rgb(32, 30, 30); 
}
.silverlining {
    color: 1px solid rgb(181,181,181);;
}
.yellowhead{
    font-weight: bold;
    text-decoration: underline;
    color: rgb(238, 196, 9);
}
.loadmoreforreview>button {
    width: 210px;
    height: 30px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(239,239,239);
    color: rgb(122, 121, 121);
}
.loadmoreforreview {
    margin-top: 2%;
    margin-bottom: 2%;
}
/* for footer */
#finaltable {
    display: flex;
    font-family: Poppins, sans-serif;
  }
  .footerlinks {
    margin-left: 20px;
    width: 100%;
  }
  .inlinefooter {
    display: flex;
    /* width: 100px; */
    font-size: 17px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    justify-content: start;
  }
  .listoflinks > li {
    list-style-type: none;
    margin-bottom: 17px;
    text-decoration: none;
  }
  .listoflinks > li > img {
    width: 30px;
    height: 20px;
  }
  .footerlinks:nth-child(3) > .listoflinks > li {
    display: flex;
    line-height: 38px;
  }
  .footerlinks > .listoflinks > li > a {
    text-decoration: none;
    color: black;
  }
  /* subfooter part */
  #subfooter-row1 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin-top: 2%;
    padding-bottom: 15px;
  }
  #subfooter-subdelivery {
    font-size: 20px;
    line-height: 10px;
    width: 22%;
    padding-bottom: 20px;
  }
  #subfooter-countrynames {
    font-size: 20px;
  }
  /* subfooter-row2 */
  #subfooter-row2 > ul {
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  #subfooter-row2 > ul li {
    margin-left: 2%;
    font-size: 17px;
    list-style-type: none;
  }
  #subfooter-row2 > ul > li:nth-child(1) {
    margin-left: -2%;
  }
  #subfooter-row2 > ul li::before {
    content: "\2022";
    color: rgb(255, 177, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  #subfooter-row2 > ul > li > a:hover,
  #subfooter-row3-ul > ul > li > a:hover {
    color: rgb(255, 177, 0);
    text-decoration: underline;
  }
  #subfooter-row2 > ul > li > a,
  #subfooter-row3-ul > ul > li > a {
    color: gray;
    text-decoration: none;
  }
  /* last subfooter(subfooter-row3) */
  #subfooter-row3 {
    display: flex;
  }
  #subfooter-row3 > div:nth-child(1) {
    width: 30%;
    padding-top: 35px;
    color: gray;
  }
  #subfooter-row3-ul {
    width: 55%;
  }
  #subfooter-row3-ul > ul > li {
    list-style: none;
    margin-left: 1%;
  }
  #subfooter-row3-ul > ul li::before {
    content: "\2022";
    color: rgb(255, 177, 0);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding-top: 22px;
    margin-left: 1em;
  }
  #subfooter-row3-ul > ul {
    display: flex;
  }
  /* subfooter-row3-lastcol(follow us) */
  #subfooter-row3-lastcol {
    padding-bottom: 30px;
    padding-top: 40px;
    display: flex;
  }
  #subfooter-row3-lastcol > div > a {
    margin-left: 6px;
    font-size: 20px;
    color: gray;
  }
  #subfooter-row3-lastcol > div:nth-child(1) {
    line-height: 22px;
  }
  