#container2 {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}
.con {
  width: 500px;
  height: 500px;
  margin: auto;
  /* border: 1px solid red; */
}
.con > img {
  padding: 60px;
  margin-left: 90px;
}
h1 {
  color: #888888;

  font-size: 40px;
  text-align: center;
}
header {
  font-family: fontawesome;
  width: 100%;
  height: 60px;
  /* border: 1px solid orange; */
  display: flex;
  text-align: center;
}

#sc {
  text-align: center;
  font-size: 40px;
  background-color: orange;
  color: white;
  /* border: 1px solid red; */
  width: 70%;
  height: 100%;
}
.ubuyicon {
  /* border: 1px solid red; */
  width: 15%;
  height: 100%;
}

.home {
  /* border: 1px solid red; */
  width: 15%;
  height: 100%;
}

#homebutton {
  padding: 10px 30px;
  margin-top: 10px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}

#tq {
  text-align: center;
}
#h1tag {
  text-align: center;
}
